""" Common settings -------------------------

" Line numbers
set number
set relativenumber

" Incremental search
set incsearch

" Leader key
let mapleader=" "

" copy to/paste from clipboard
set clipboard+=unnamed


""" Plugins  --------------------------------
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister

Plug 'justinmk/vim-sneak'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'


""" Mappings --------------------------------
map <leader>f <Plug>(easymotion-s)
map <leader>e <Plug>(easymotion-f)

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>s <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)


""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

" Note that the default <A-n> and g<A-n> shortcuts don't work on Mac due to dead keys.
" <A-n> is used to enter accented text e.g. ñ
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences


""" Idea specific settings ------------------

" refer: https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin

set ideastatusicon=gray
set idearefactormode=keep
