" Leader key
let mapleader=" "

" copy to/paste from clipboard
set clipboard+=unnamed

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set sneak
set textobj-entire
set ReplaceWithRegister

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

" Remap multiple-cursors shortcuts to match terryma/vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
nmap <C-x> <Plug>SkipOccurrence
xmap <C-x> <Plug>SkipOccurrence
nmap <C-p> <Plug>RemoveOccurrence
xmap <C-p> <Plug>RemoveOccurrence

""" Idea specific settings ------------------
" refer: https://github.com/JetBrains/ideavim/blob/master/doc/ideajoin-examples.md
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep
