recentf
tramp
.smex-items
backups/
elpa/
projectile-bookmarks.eld
auto-save-list/
ido.last
init-custom.el
transient/
session.*
custom.el
network-security*
*.cache
straight/
core-custom.el
history
persp-confs
eln-cache/

# lsp
.dap-breakpoints
.lsp-session-*
var/
workspace/